<div ng-controller="step6Ctrl as vm" style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">

<form class="form-horizontal" name="inputForm" form = "">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Survey</legend>

      
          <input type='hidden' value='0' name='selfdestruct'>
          <input type='checkbox' value='1' name='selfdestruct'>
             
        <!-- Text input-->
        <div class="row">
        <label class="col-md-12">Please enter the country you currently work on.</label>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <input id="country" ng-model="user.country" type="text" class="form-control input-md">
          </div>
        </div>

           
        <!-- Multiple Radios (inline) -->
        <div class="row">
            <label class="col-md-12">Please select your educational level.</label>
        </div>
        <div class="form-group">
              <div class="col-md-4"> 
              <label class="radio">
                <input type="radio" ng-model="user.edu" value="phd" required>
                PhD
              </label> 
              <label class="radio">
                <input type="radio" ng-model="user.edu" value="phdstu">
                PhD Student
              </label> 
              <label class="radio">
                <input type="radio" ng-model="user.edu" value="msc">
                Master
              </label> 
              <label class="radio">
                <input type="radio" ng-model="user.edu" value="mscstu">
                Master Student
              </label>
              <label class="radio">
                  <input type="radio" ng-model="user.edu" value="under">
                Undergraduate
              </label>
              <label class="radio">
                 <input type="radio" ng-model="user.edu" value="understu">
                Undergraduate Student
              </label>
              <label class="radio">
                <input type="radio" ng-model="user.edu" value="other">
                 Other
               </label>
            </div>
          </div>

           <!-- Text input-->
        <div class="row">
            <label class="col-md-12">Please, specify here</label>
          </div>
            <div class="form-group">
              <div class="col-md-4">
                <input id="edu" ng-model="user.edu_other_spec" type="text" class="form-control input-md">
              </div>
            </div>
        
        
        <!-- Multiple Checkboxes -->
        <div class="row">
          <label class="col-md-12" for="checkboxes">Please select your educational level.</label>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <div class="checkbox">
                <input type="checkbox" ng-model="user.ocu_open" value="1">
                Open Source Developer
            </div>
            <div class="checkbox">
                <input type="checkbox" ng-model="user.ocu_aca_res" value="2">
                Academic Researcher
            </div>
            <div class="checkbox">
                  <input type="checkbox" ng-model="user.ocu_ind_dev" value="2">
                  Industrial Developer
            </div>
            <div class="checkbox">
                  <input type="checkbox" ng-model="user.ocu_ind_res" value="2">
                  Industrial Researcher
            </div>  
            <div class="checkbox">
                  <input type="checkbox" ng-model="user.ocu_other" value="2">
                  Other
                </label>
            </div>
          </div>
        </div>

        <!-- Text input-->
        <div class="row">
          <label class="col-md-12">Please, specify here</label>
        </div>
          <div class="form-group">
            <div class="col-md-4">
              <input id="edu" ng-model="user.ocu_other_spec" type="text" class="form-control input-md">
            </div>
          </div>

          <div class="row">
                 <label class="col-md-12">Please rate your expertise with</label>
          </div>
          
          <div  class='form-group'>
            <div class="col-md-4">
              <table class="table table-striped">
                  <tr>
                    <th></th>
                    <th>Very poor</th> 
                    <th>Poor</th>
                    <th>Fair</th>
                    <th>High</th>
                    <th>Very High</th>
                  </tr>
                  <tr>
                    <td>Software Development</td>
                    <td> <input type="radio" ng-model="user.software_exp" value="verypoor" checked /> </td> 
                    <td> <input type="radio" ng-model="user.software_exp" value="poor" checked /> </td>
                    <td> <input type="radio" ng-model="user.software_exp" value="fair" checked /> </td> 
                    <td> <input type="radio" ng-model="user.software_exp" value="high" checked /> </td> 
                    <td> <input type="radio" ng-model="user.software_exp" value="veryhigh" checked /> </td> 
                  </tr>
                  <tr>
                    <td>Code Review</td>
                    <td> <input type="radio" ng-model="user.cod_review" value="verypoor" checked /> </td> 
                    <td> <input type="radio" ng-model="user.cod_review" value="poor" checked /> </td>
                    <td> <input type="radio" ng-model="user.cod_review" value="fair" checked /> </td> 
                    <td> <input type="radio" ng-model="user.cod_review" value="high" checked /> </td> 
                    <td> <input type="radio" ng-model="user.cod_review" value="veryhigh" checked /> </td> 
                  </tr>
                  <tr>
                    <td>Bug Reporting</td>
                    <td> <input type="radio" ng-model="user.bug_rep" value="verypoor" checked /> </td> 
                    <td> <input type="radio" ng-model="user.bug_rep" value="poor" checked /> </td>
                    <td> <input type="radio" ng-model="user.bug_rep" value="fair" checked /> </td> 
                    <td> <input type="radio" ng-model="user.bug_rep" value="high" checked /> </td> 
                    <td> <input type="radio" ng-model="user.bug_rep" value="veryhigh" checked /> </td> 
                  </tr>
                  <tr>
                    <td>Bug Fixing</td>
                    <td> <input type="radio" ng-model="user.bug_fix" value="verypoor" checked /> </td> 
                    <td> <input type="radio" ng-model="user.bug_fix" value="poor" checked /> </td>
                    <td> <input type="radio" ng-model="user.bug_fix" value="fair" checked /> </td> 
                    <td> <input type="radio" ng-model="user.bug_fix" value="high" checked /> </td> 
                    <td> <input type="radio" ng-model="user.bug_fix" value="veryhigh" checked /> </td> 
                  </tr>
                  <tr>
                    <td>Tests</td>
                    <td> <input type="radio" ng-model="user.tests" value="verypoor" checked /> </td> 
                    <td> <input type="radio" ng-model="user.tests" value="poor" checked /> </td>
                    <td> <input type="radio" ng-model="user.tests" value="fair" checked /> </td> 
                    <td> <input type="radio" ng-model="user.tests" value="high" checked /> </td> 
                    <td> <input type="radio" ng-model="user.tests" value="veryhigh" checked /> </td> 
                    </tr>
              </table>
            </div>
          </div>

        <!-- Multiple Radios (inline) 
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Inline Radios</label>
            <div class="col-md-4"> 
              <label class="radio-inline" for="radios-0">
                <input type="radio" ng-model="user.radios" id="radios-0" value="1" checked="checked">
                1
              </label> 
              <label class="radio-inline" for="radios-1">
                <input type="radio" ng-model="user.radios" id="radios-1" value="2">
                2
              </label> 
              <label class="radio-inline" for="radios-2">
                <input type="radio" ng-model="user.radios" id="radios-2" value="3">
                3
              </label> 
              <label class="radio-inline" for="radios-3">
                <input type="radio" ng-model="user.radios" id="radios-3" value="4">
                4
              </label>
            </div>
        </div>
        -->
        
           
        <div class="row">
          <label class="col-md-12" >During a software development did you notice any changes that introduced bugs? If yes, how did you perceive the buggy code?</label>
        </div>
          <div class="form-group">
              <div class="col-md-4">                  
            <textarea class="form-control" ng-model="user.input_perceive">default text</textarea>
          </div>
        </div>

        <!-- Text input-->
        <div class="row">
            <label class="col-md-12">Could you provide the address of this buggy code?</label>
          </div>
            <div class="form-group">
              <div class="col-md-4">
                <input ng-model="user.input_buggy" type="text" class="form-control input-md">
              </div>
            </div>
        
        <div class="row">
            <label class="col-md-12">Have you ever contributed for open source projects? If yes, could you provide the addresses of these projects?</label>
          </div>
            <div class="form-group">
                <div class="col-md-4">                  
              <textarea class="form-control" ng-model="user.input_open">default text</textarea>
            </div>
          </div>

          <div class="row">
              <label class="col-md-12">Please enter your e-mail (it will not be disclosed), if you want to participate on the raffle of US$ 100 voucher at Amazon.com or
                  want be contacted in future researches.</label>
            </div>
              <div class="form-group">
                <div class="col-md-4">
                  <input ng-model="user.email" type="text" class="form-control input-md">
                </div>
            </div>

            <div class="row">
                <label class="col-md-12">Do you have any comments regarding this research?</label>
              </div>
                <div class="form-group">
                    <div class="col-md-4">                  
                  <textarea class="form-control" ng-model="user.comments">default text</textarea>
                </div>
              </div>

        <button type="submit" class="btn btn-default btn-lg btn-block" style="width:100px" 
        ng-click="submit()" ng-disabled="inputForm.$invalid" class="btn btn-primary submit-button">Submit</button>
  
        <button type="button" class="btn btn-default btn-lg btn-block" style="width:100px" 
        ng-click="back()" class="btn btn-primary submit-button">Back</button>
        
        </fieldset>
        </form>
        <pre>form = {{user | json}}</pre>
</div>